{% extends 'base.html' %}
{% load widget_tweaks %}

{% block content %}
<div class="form-container">
    <div class='forms'>
        <div class="form-login">
            <h1 class='form-title'>Login</h1>
        </div>
        <form method="POST">
            {% csrf_token %}
            <div class="input-field"></div>
                {{ form.username.errors }}
                {% render_field form.username %}
                <i class="'uil uil-user"></i>
            </div>
            <div class="input-field">
                {{ form.password.errors }}
                {% render_field form.password %}
                <i class="'uil uil-lock"></i>
            </div>
            <input type='submit' value="Login">
        </form>
    </div>
</div>
{% endblock content %}
