{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/master.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">
    <title>Song Recommender</title>
</head>
<body>
    
    <nav>
        <div class="container">
            <h1 class="logo">Songify</h1>

            <div class='menu'>
                {% if user.is_authenticated %}
                <a href="{% url 'homepage' %}" class='is-active' id="homepage">Home</a>
                <a href="{% url 'songs:spotify-login' %}">Songify</a>
                <a href="#" id="connect">Connect</a>
                <a href="{% url 'accounts:logout' %}" id="logout">Logout</a>
                {% else %}
                <a href="{% url 'homepage' %}" class="is-active" id="homepage">Home</a>
                <a href="#" id="connect">Connect</a>
                <a href="{% url 'accounts:signup' %}" id="signup">Sign Up</a>
                <a href="{% url 'accounts:login' %}" id="login">Login</a>
                {% endif %}
            </div>

            <button class='hamburger'>
                <span></span>
                <span></span>
                <span></span>
            </button>
        </div>
    </nav>

    <div class='mobile-menu'>
        {% if user.is_authenticated %}
        <a href="#">Home</a>
        <a href="{% url 'songs:spotify-login' %}">Songify</a>
        <a href="#">Connect</a>
        <a href="#">Logout</a>
        {% else %}
        <a href="#">Home</a>
        <a href="#">Connect</a>
        <a href="#">Sign Up</a>
        <a href="#">Login</a>
        {% endif %}
    </div>
    

    <div class="body_content">
    {% block content %}

    {% endblock content %}
    <div>
    <script src="https://unpkg.com/htmx.org@1.8.4" integrity="sha384-wg5Y/JwF7VxGk4zLsJEcAojRtlVp1FKKdGy1qN+OMtdq72WRvX/EdRdqg/LOhYeV" crossorigin="anonymous"></script>
    <script>
        document.body.addEventListener('htmx:configRequest', (event) => {
          event.detail.headers['X-CSRFToken'] = '{{ csrf_token }}';
        })
    </script>
    <script src="{% static 'js/master.js' %}"></script>
   
</body>
</html>